/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  font-family: "Open Sans", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #9A7AA0;
}

.header__informatives-top {
  background-color: #614B65;
  color: #FFFFFF;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__informatives-top--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.75rem;
  font-weight: 300;
}

.header__informatives-top--text:after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #FFFFFF;
  display: inline-block;
  margin: 0 10px 0 5px;
}

.header__informatives-top--text:last-child:after {
  display: none;
}

.header__informatives-top--text-strong {
  font-weight: 700;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.75rem;
}

.header__informatives-top--text-margin {
  margin-left: 5px;
  font-weight: 300;
}

.header__informatives-wrapper {
  max-width: 495px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .header__container {
    margin: 0 5%;
  }
}

@media (max-width: 1024px) {
  .header__container {
    margin: 22px 15px 0px 15px;
  }
}

.header__logo {
  max-width: 238px;
  width: 100%;
  margin-right: 31px;
}

@media (max-width: 1024px) {
  .header__logo {
    margin-right: 0px;
  }
}

.header__logo--text {
  font-size: 3rem;
  font-family: "Ovo", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .header__logo--text {
    font-size: 2.25rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header__menu-hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .header__menu-hamburger {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 31px;
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}

.header__menu-wrapper {
  position: relative;
  display: inline-block;
}

.header__menu-wrapper--others {
  width: 100%;
}

.header__wrapper-seach {
  display: none;
}

@media (max-width: 1024px) {
  .header__wrapper-seach {
    display: block;
    width: 330px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #614B65;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 32px 0px 10px 0px;
  }
}

.header__wrapper-seach--input {
  border-style: none;
}

.header__wrapper-seach--img {
  width: 25px;
  height: 25px;
}

.header__menu-department {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-department:hover {
  color: #614B65;
}

.header__menu-others {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 194px;
  height: 40px;
}

.header__menu-others::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: #614B65;
  z-index: 1;
}

.header__menu-wrapper:hover .header__menu-others {
  display: block;
}

.header__menu-wrapper:hover .header__menu-items {
  display: block;
}

.header__menu-wrapper:hover .header__menu-sub-items {
  display: block;
}

.header__menu-wrapper-category:hover .header__menu-sub-category {
  display: block;
}

.header__menu-category {
  text-decoration: none;
  color: #302E2B;
  font-weight: 400;
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 26px;
  height: 40px;
  width: 194px;
}

.header__menu-category:hover {
  background: #F1F1F1;
  width: 194px;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 194px;
  display: none;
}

.header__menu-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: #614B65;
  z-index: 1;
}

.header__menu-items.turmalina {
  background-color: #9A7AA0;
  color: white;
}

.header__menu-sub-category {
  position: absolute;
  left: 100%;
  width: 210px;
  top: 0px;
  display: none;
}

.header__menu-sub-category::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: #614B65;
  z-index: 1;
}

.header__wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 135px;
  width: 100%;
}

@media (max-width: 1024px) {
  .header__wrapper-icons {
    display: none;
  }
}

.header__bag-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .header__bag-mobile {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header__icons--image {
  max-width: 23px;
  max-height: 23px;
  margin-right: 31px;
}

.header__icons:last-child .header__icons--image {
  margin: 0px;
}

.header__menu-wrapper-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100vw;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__menu-wrapper-mobile.active {
  left: 0;
}

.header__menu-mobile-wrapper-list {
  background-color: #614B65;
  width: 100vw;
  height: 100vh;
}

.header__menu-mobile-wrapper-img {
  width: 80px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu-mobile-wrapper-close {
  top: 0px;
  width: 80px;
  height: 89px;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-mobile-items, .header__menu-mobile-department {
  background: #9A7AA0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #bababf;
  width: 100%;
}

.header__menu-mobile-items--img, .header__menu-mobile-department--img {
  margin: 0px 12px 0px 26px;
  width: 21px;
}

.header__menu-mobile-department {
  background: #614B65;
  padding: 0px 15px 0px 26px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-mobile-department--img {
  width: 16px;
  height: 9px;
}

.header__menu-mobile-department--img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__menu-mobile-subdepartment {
  background: #FFFFFF;
  height: 50px;
  color: #614B65;
  padding: 0px 15px 0px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #C4C4C4;
}

.header__menu-mobile-subdepartment--img {
  margin-left: 15px;
}

.header__menu-mobile-subdepartment--img.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__menu-mobile-subdepartment-wrapper {
  display: none;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.header__menu-mobile-subdepartment-wrapper.active {
  display: block;
}

.header__menu-mobile-subdepartment-list {
  display: none;
}

.header__menu-mobile-subdepartment-list.active {
  display: block;
  background: #E5E3E2;
  color: #614B65;
  padding: 0px 15px 0px 26px;
  font-size: 13px;
  font-weight: 400;
}

.header__menu-mobile-subdepartment-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #FFFFFF;
}
/*# sourceMappingURL=styles.css.map */